
body{
background-color: #D6EAF8
}

.menu {
	list-style-type: none;
   text-align: center;
	margin: auto;
}

.menu li a{
	padding: 2px 7px 2px 7px;
   color: black;
   background-color: #7FB3D5;
   border: 1px solid #ccc;
   text-decoration: none;

}

.menu li{
	display: inline-block;
	text-align: center;
}

.menu li a:hover{
	background: white;
}
h1{

text-align: center;
font-family: 'Berkshire Swash', cursive;

}
h2{
	font-family: 'New Tegomin', serif;
}

h3{
	text-align: center;
font-family: 'Press Start 2P', cursive;
}
h4{
	text-align: center;
	font-family: 'PT Mono', monospace;
}

div.inicio{

	padding: 50px
}
div.desc{
	font-family: 'PT Mono', monospace;
}
